:root {
    --preset-color1: #037fff;
    --preset-color2: #026fe0;
    --preset-color3: #071323;
    --preset-color4: #132133;
    --preset-color5: #34495e;
    --preset-color6: #787676;
    --preset-color7: #f0f2f3;
    --preset-color8: #f8f9fa;
    --preset-color9: #ffffff;
}

{
}