:root {
    --contentSidebarWidth: 28%;
    --sidebarWidgetSpacing: 50px;
    --widgetsContentAreaSpacing: 10px 10px 10px 10px;
    --containerWidth: 1200px;
    --containerContentMaxWidth: 768px;
    --containerVerticalMargin: 80px;
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 1.88em;
    --letterSpacing: 0px;
    --textTransform: default;
    --btnFontFamily: Poppins;
    --btnFontWeight: 400;
    --btnFontSize: 18px;
    --btnFontStyle: normal;
    --btnLineHeight: 1em;
    --btnLetterSpacing: 0px;
    --btnTextTransform: default;
    --blogFontColor: var(--paletteColor2);
    --paletteColor1: rgba(41, 41, 41, 0.9);
    --paletteColor2: #292929;
    --paletteColor3: #216BDB;
    --paletteColor4: #5081F5;
    --paletteColor5: #ffffff;
    --paletteColor6: #EDF2FE;
    --paletteColor7: #e9f1fa;
    --paletteColor8: #F9FBFE;
    --paletteColor1: #343746;
    --paletteColor2: #0e132b;
    --paletteColor3: #f21d44;
    --paletteColor4: #827586;
    --paletteColor5: #ffffff;
    --paletteColor6: #e4e4e4;
    --paletteColor7: #feedf0;
    --paletteColor8: #fff9f9;
    --primaryColor: var(--paletteColor1);
    --genheadingColor: var(--paletteColor2);
    --genLinkColor: var(--paletteColor4);
    --genLinkHoverColor: var(--paletteColor3);
    --textSelectionColor: var(--paletteColor5);
    --textSelectionHoverColor: var(--paletteColor3);
    --genborderColor: var(--paletteColor6);
    --accentColorOne: var(--paletteColor5);
    --accentColorTwo: var(--paletteColor5);
    --accentColorThree: var(--paletteColor5);
    --background-color: #ffffff;
    --baseColor: var(--paletteColor7);
    --btnTextColor: var(--paletteColor5);
    --btnTextHoverColor: var(--paletteColor3);
    --btnBgColor: var(--paletteColor3);
    --btnBgHoverColor: var(--paletteColor5);
    --btnBorderColor: var(--paletteColor3);
    --btnBorderHoverColor: var(--paletteColor3);
    --color: var(--paletteColor2);
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor2);
    --selectionTextColor: var(--paletteColor5);
    --selectionBackgroundColor: var(--paletteColor1);
    --border-color: rgba(224, 229, 235, 0.9);
    --headingColor: var(--paletteColor4);
    --buttonTextInitialColor: var(--paletteColor5);
    --buttonTextHoverColor: var(--paletteColor5);
    --buttonInitialColor: var(--paletteColor3);
    --buttonHoverColor: var(--paletteColor2);
    --breadcrumbsColor: rgba(41, 41, 41, 0.75);
    --breadcrumbsCurrentColor: var(--paletteColor1);
    --breadcrumbsSeparatorColor: rgba(41, 41, 41, 0.75);
    --titleColor: var(--paletteColor1);
    --captionColor: var(--paletteColor8);
    --captionOverlayColor: var(--paletteColor1);
    --linkHighlightColor: var(--paletteColor3);
    --linkHighlightHoverColor: var(--paletteColor5);
    --linkHighlightBackgroundColor: var(--paletteColor6);
    --linkHighlightBackgroundHoverColor: var(--paletteColor3);
    --authorFontColor: var(--paletteColor2);
    --bottonRoundness: 16px;
    --buttonPadding: 12px 24px 12px 24px;
    --buttonBorder_hover: 1px solid var(--paletteColor3);
    --buttonBorder: 1px solid var(--paletteColor3);
    --searchFontColor: var(--paletteColor2);
    --archiveFontColor: var(--paletteColor2);
    --btnFontFamily: Poppins;
    --btnFontWeight: 400;
    --btnFontSize: 18px;
    --btnFontStyle: normal;
    --btnLineHeight: 1em;
    --btnLetterSpacing: 0px;
    --btnTextTransform: default;
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 1.88em;
    --letterSpacing: 0px;
    --textTransform: default;
}

#secondary {
    --widgetsFontSize: 24px;
    --sidebarWidgetsTitleColor: var(--paletteColor2);
}

.rishi-container[data-strech="full"] {
    --streched-padding: 40px;
}

h1, .block-editor-page .editor-styles-wrapper h1, .block-editor-page .editor-post-title__block .editor-post-title__input {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 48px;
    --fontStyle: normal;
    --lineHeight: 1.25em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h2 {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 40px;
    --fontStyle: normal;
    --lineHeight: 1.67em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h3 {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 700;
    --fontSize: 32px;
    --fontStyle: normal;
    --lineHeight: 1.33em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h4 {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 24px;
    --fontStyle: normal;
    --lineHeight: 1.33em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h5 {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 18px;
    --fontStyle: normal;
    --lineHeight: 1.5em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h6 {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 700;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 1.5em;
    --letterSpacing: 0px;
    --textTransform: default;
}

.rishi-breadcrumb-main-wrap .rishi-breadcrumbs {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 14px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0px;
    --textTransform: default;
    --alignment: left;
}

.blog .site-content .entry-content-main-wrap {
    --blogHeadingFontSize: 24px;
    --blogDividerMarginFirst: 0px 0px 20px 0px;
    --blogAvatarSize: 34px;
}

.blog .site-content .main-content-wrapper .rishi-featured-image {
    --img-ratio: auto;
    --img-scale: cover;
}

.blog .site-content .archive-title-wrapper {
    --margin: 20px;
    --alignment: left;
    --background-color: var(--paletteColor7);
    --padding: 16px 16px 16px 16px;
}

#secondary.widget-area {
    --widgetsLinkColor: var(--paletteColor1);
    --widgetsLinkHoverColor: var(--paletteColor3);
}

.single .site-content .entry-header .entry-title {
    --fontSize: 36px;
}

.single .site-content .main-content-wrapper .rishi-featured-image {
    --img-ratio: auto;
    --img-scale: contain;
}

.single .main-content-wrapper {
    --padding: 40px 40px 40px 40px;
    --singleAvatarSize: 34px;
}

.single .rishi-container-wrap {
    --box-radius: 3px 3px 3px 3px;
}

.page .rishi-featured-image {
    --img-ratio: auto;
    --img-scale: contain;
}

.page .entry-header {
    --alignment: left;
    --margin-bottom: 50px;
}

.page .main-content-wrapper {
    --background-color: var(--paletteColor5);
    --padding: 40px 40px 40px 40px;
}

.page .rishi-container-wrap {
    --box-radius: 3px 3px 3px 3px;
}

.to_top {
    --topButtonSize: 14px;
    --topButtonOffset: 25px;
    --sideButtonOffset: 25px;
    --topButtonIconColorDefault: var(--paletteColor3);
    --topButtonIconColorHover: var(--paletteColor5);
    --topButtonShapeBackgroundDefault: var(--paletteColor5);
    --topButtonShapeBackgroundHover: var(--paletteColor3);
    --topButtonShadow: 0px 5px 20px 0px rgba(210, 213, 218, 0.2);
    --top_button_padding: 10px 10px 10px 10px;
    --top-button-border_hover: 1px solid var(--paletteColor3);
    --top-button-border: 1px solid var(--paletteColor3);
}

.archive.author .site-content .entry-content-main-wrap {
    --authorHeadingFontSize: 24px;
    --authorDividerMarginFirst: 0 auto 20px auto;
}

.archive.author .site-content .main-content-wrapper .rishi-featured-image {
    --img-ratio: 1/1;
    --img-scale: cover;
}

.archive.author .site-content .archive-title-wrapper {
    --width: 142px;
    --margin: 100px;
    --alignment: left;
    --authorMargin: 30px;
    --background-color: var(--paletteColor7);
    --authorAvatarSize: 34px;
}

.rishi-breadcrumb-main-wrap {
    --padding: 0px 0px 10px 0px;
}

.search .site-content .entry-content-main-wrap {
    --searchHeadingFontSize: 24px;
    --searchDividerMarginFirst: 0 auto 20px auto;
    --searchAvatarSize: 34px;
}

.search .site-content .main-content-wrapper .rishi-featured-image {
    --img-ratio: 1/1;
    --img-scale: cover;
}

.search .site-content .archive-title-wrapper {
    --searchMargin: 30px;
    --margin: 100px;
    --background-color: var(--paletteColor7);
}

.archive .site-content .entry-content-main-wrap {
    --archiveHeadingFontSize: 40px;
    --archiveDividerMarginFirst: 0px 0px 20px 0px;
    --archiveAvatarSize: 34px;
}

.archive .site-content .main-content-wrapper .rishi-featured-image {
    --img-ratio: auto;
    --img-scale: cover;
}

.archive .site-content .archive-title-wrapper {
    --margin: 100px;
    --alignment: left;
    --archiveMargin: 30px;
    --background-color: var(--paletteColor7);
}

#rishi-socials {
    --margin: 0px 0px 0px 0px;
    --icon-size: 16px;
    --spacing: 16px;
}

.rishi-color-type-custom {
    --icon-color: #010d00b3;
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor7);
    --background-hover-color: var(--paletteColor6);
}

.sticky-header.is-sticky .sticky-row .rishi-color-type-custom {
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor7);
    --background-hover-color: var(--paletteColor6);
}

.transparent-active .transparent-header .rishi-color-type-custom {
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --background-hover-color: var(--paletteColor7);
    --background-hover-color: var(--paletteColor6);
}

#rishi-offcanvas {
    --closeBtnSize: 30px;
    --background-color: var(--paletteColor5);
    --border-color: var(--paletteColor5);
    --close-btn-color-init: var(--paletteColor3);
    --close-btn-color-hover: var(--paletteColor2);
    --item-gap: 30px;
}

#rishi-offcanvas .rishi-drawer-wrapper {
    --horizontal-alignment: left;
}

.header-image-section {
    --max-width: 150px;
}

.site-header .header-row.top-row {
    --padding: 16px 0px 16px 0px;
    --rowContainerWidth: 1200px;
    --background-color: #f9f9f9;
    --border-top: 1px none rgba(44, 62, 80, 0.2);
    --border-bottom: 1px none rgba(44, 62, 80, 0.2);
    --item-gap: 15px;
}

.sticky-header.is-sticky .sticky-row.header-row.top-row {
    --background-color: #f9f9f9;
    --border-top: 1px none rgba(44, 62, 80, 0.2);
    --border-bottom: 1px none rgba(44, 62, 80, 0.2);
}

.transparent-active .site-header .transparent-header .top-row {
    --background-color: rgba(0, 0, 0, 0);
    --border-top: 1px none rgba(0, 0, 0, 0);
    --border-bottom: 1px none rgba(0, 0, 0, 0);
}

#rishi-text {
    --color: var(--paletteColor1);
    --margin: auto 20px auto 20px !important;
    --fontSize: 15px;
    --lineHeight: 1.5;
    --fontWeight: 400;
    --textTransform: normal;
}

#rishi-text a {
    --linkInitialColor: var(--paletteColor3);
    --linkHoverColor: var(--paletteColor2);
}

.sticky-header.is-sticky .sticky-row #rishi-text {
    --color: var(--paletteColor1);
}

.transparent-active .transparent-header #rishi-text {
    --color: var(--paletteColor1);
}

.sticky-header.is-sticky .sticky-row #rishi-text a {
    --linkInitialColor: var(--paletteColor3);
}

.transparent-active .transparent-header #rishi-text a {
    --linkInitialColor: var(--paletteColor3);
}

.header-date-section {
    --icon-size: 18px;
    --headerDateInitialColor: var(--paletteColor1);
    --headerDateInitialIconColor: var(--paletteColor1);
    --fontSize: 16px;
    --lineHeight: 2.25;
    --fontWeight: 400;
    --textTransform: normal;
}

.transparent-active .transparent-header .header-date-section {
    --headerDateInitialColor: var(--paletteColor1);
    --headerDateInitialIconColor: var(--paletteColor1);
}

.sticky-header.is-sticky .sticky-row .header-date-section {
    --headerDateInitialColor: var(--paletteColor1);
    --headerDateInitialIconColor: var(--paletteColor1);
}

#rishi-offcanvas .rishi-mobile-menu {
    --fontSize: 16px;
    --fontWeight: 400;
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor4);
    --mobile_menu_child_size: 14px;
    --margin: 0px auto 0px auto !important;
    --padding: 5px 0px 5px 0px !important;
    --mobile-menu-divider: 1px solid var(--paletteColor6);
}

.site-header .site-navigation-1 {
    --menu-items-spacing: 48px;
    --menu-item-height: 60px;
    --margin: auto 20px auto 20px !important;
    --currentMenuLinkAccent: var(--paletteColor3);
    --currentMenuLinkBg: var(--paletteColor7);
}

.site-header .site-navigation-1 .sub-menu {
    --background-color: var(--paletteColor5);
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0px;
    --textTransform: default;
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
    --dropdown-top-offset: 0px;
    --dropdown-width: 200px;
    --dropdown-items-spacing: 15px;
    --dropdown-divider: 1px none #dddddd;
    --border-radius: 0px 0px 2px 2px !important;
    --box-shadow: 0px 10px 20px 0px rgba(41, 51, 61, 0.1);
}

.site-header .site-navigation-1 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 3.7em;
    --letterSpacing: 0px;
    --textTransform: normal;
}

.site-header .sticky-header.is-sticky .sticky-row .site-navigation-1 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
}

.transparent-active .site-header .transparent-header .site-navigation-1 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
}

.rishi-header-trigger {
    --trigger-width: 20px;
    --linkInitialColor: var(--paletteColor3);
    --linkHoverColor: var(--paletteColor4);
    --fontSize: 17px;
    --lineHeight: 1.3;
    --fontWeight: 500;
    --textTransform: normal;
    --margin: 0px 0px 0px 0px;
}

.site-header .header-row.middle-row {
    --rowContainerWidth: 1200px;
    --background-color: var(--paletteColor5);
    --border-top: 1px none rgba(44, 62, 80, 0.2);
    --border-bottom: 1px none rgba(44, 62, 80, 0.2);
    --padding: 16px 0px 16px 0px;
    --item-gap: 15px;
}

.sticky-header.is-sticky .sticky-row.header-row.middle-row {
    --background-color: #f9f9f9;
    --border-top: 1px none rgba(44, 62, 80, 0.2);
    --border-bottom: 1px none rgba(44, 62, 80, 0.2);
}

.transparent-active .site-header .transparent-header .middle-row {
    --background-color: rgba(0, 0, 0, 0);
    --border-top: 1px none rgba(0, 0, 0, 0);
    --border-bottom: 1px none rgba(0, 0, 0, 0);
}

.header-randomize-section {
    --headerRandomizeInitialColor: var(--paletteColor1);
    --headerRandomizeInitialIconColor: var(--paletteColor1);
    --headerRandomizeInitialIconHoverColor: var(--paletteColor3);
    --icon-size: 20px;
    --fontSize: 16px;
    --fontWeight: 400;
}

.sticky-header.is-sticky .sticky-row .header-randomize-section {
    --headerRandomizeInitialColor: var(--paletteColor1);
    --headerRandomizeInitialIconColor: var(--paletteColor1);
    --headerRandomizeInitialIconHoverColor: var(--paletteColor6);
}

.transparent-active .transparent-header .header-randomize-section {
    --headerRandomizeInitialColor: var(--paletteColor1);
    --headerRandomizeInitialIconColor: var(--paletteColor1);
    --headerRandomizeInitialIconHoverColor: var(--paletteColor3);
}

#rishi-button {
    --btnFontSize: 16px;
    --btnLineHeight: 1.7;
    --btnFontWeight: 400;
    --btnTextTransform: normal;
    --buttonMinWidth: 50px;
    --margin: 0px 0px 0px 0px;
    --headerCtaPadding: 10px 20px 10px 20px;
    --buttonBorderRadius: 3px 3px 3px 3px;
    --buttonInitialColor: var(--paletteColor3);
    --buttonHoverColor: var(--paletteColor2);
    --headerButtonBorder_hover: 1px solid var(--paletteColor2);
    --headerButtonBorder: 1px solid var(--paletteColor3);
}

#rishi-button .btn-default {
    --buttonTextInitialColor: var(--paletteColor5);
    --buttonTextHoverColor: var(--paletteColor5);
}

#rishi-button .btn-outline {
    --buttonTextInitialColor: var(--paletteColor3);
    --buttonTextHoverColor: var(--paletteColor5);
}

.sticky-header.is-sticky .sticky-row #rishi-button .btn-default {
    --buttonTextInitialColor: var(--paletteColor5);
    --buttonTextHoverColor: var(--paletteColor5);
}

.transparent-active .transparent-header #rishi-button .btn-default {
    --buttonTextInitialColor: var(--paletteColor5);
    --buttonTextHoverColor: var(--paletteColor5);
}

.sticky-header.is-sticky .sticky-row #rishi-button .btn-outline {
    --buttonTextInitialColor: var(--paletteColor3);
    --buttonTextHoverColor: var(--paletteColor5);
}

.transparent-active .transparent-header #rishi-button .btn-outline {
    --buttonTextInitialColor: var(--paletteColor3);
    --buttonTextHoverColor: var(--paletteColor5);
}

.sticky-header.is-sticky .sticky-row #rishi-button {
    --buttonInitialColor: var(--paletteColor3);
    --buttonHoverColor: var(--paletteColor2);
}

.transparent-active .transparent-header #rishi-button {
    --buttonInitialColor: var(--paletteColor3);
    --buttonHoverColor: var(--paletteColor2);
}

#rishi-header-contacts {
    --fontSize: 14px;
    --lineHeight: 1.3;
    --fontWeight: 400;
    --textTransform: normal;
    --margin: 0px 0px 0px 0px;
    --icon-size: 15px;
    --items-spacing: 15px;
    --color: var(--paletteColor1);
    --hover-color: var(--paletteColor3);
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor6);
    --background-hover-color: rgba(218, 222, 228, 0.7);
}

.sticky-header.is-sticky .sticky-row #rishi-header-contacts {
    --color: var(--paletteColor1);
    --hover-color: var(--paletteColor3);
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor6);
    --background-hover-color: rgba(218, 222, 228, 0.7);
}

.transparent-active .transparent-header #rishi-header-contacts {
    --color: var(--paletteColor1);
    --hover-color: var(--paletteColor3);
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor6);
    --background-hover-color: rgba(218, 222, 228, 0.7);
}

.site-branding {
    --LogoMaxWidth: 150px;
    --margin: 0px 0px 0px 0px !important;
    --linkInitialColor: var(--paletteColor3);
    --linkHoverColor: var(--paletteColor4);
    --color: var(--paletteColor1);
}

.site-header #logo .site-title {
    --fontFamily: Yeseva One, Sans-Serif;
    --fontWeight: 400;
    --fontSize: 44px;
    --fontStyle: normal;
    --lineHeight: 1.5em;
    --letterSpacing: 0em;
    --textTransform: default;
}

.site-header #logo .site-description {
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 11px;
    --fontStyle: normal;
    --lineHeight: 1.33em;
    --letterSpacing: 0.52em;
    --textTransform: default;
}

.transparent-active .transparent-header .site-branding {
    --linkInitialColor: var(--paletteColor2);
    --linkHoverColor: var(--paletteColor3);
    --color: var(--paletteColor1);
}

.sticky-header.is-sticky .sticky-row .site-branding {
    --linkInitialColor: var(--paletteColor2);
    --linkHoverColor: var(--paletteColor3);
    --color: var(--paletteColor1);
}

.site-header .site-navigation-2 {
    --menu-items-spacing: 25px;
    --menu-item-height: 60px;
    --margin: auto 20px auto 20px !important;
    --currentMenuLinkAccent: var(--paletteColor3);
    --currentMenuLinkBg: var(--paletteColor7);
}

.site-header .site-navigation-2 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
    --fontSize: 16px;
    --lineHeight: 2.25;
    --fontWeight: 400;
    --textTransform: normal;
}

.site-header .site-navigation-2 .sub-menu {
    --fontSize: 16px;
    --fontWeight: 400;
    --background-color: var(--paletteColor5);
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
    --dropdown-top-offset: 0px;
    --dropdown-width: 200px;
    --dropdown-items-spacing: 15px;
    --dropdown-divider: 1px none #dddddd;
    --border-radius: 0px 0px 2px 2px !important;
    --box-shadow: 0px 10px 20px 0px rgba(41, 51, 61, 0.1);
}

.site-header .sticky-header.is-sticky .sticky-row .site-navigation-2 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
}

.transparent-active .site-header .transparent-header .site-navigation-2 > ul > li > a {
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);
}

#search .rishi-icon {
    --icon-size: 15px;
}

#search {
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
    --margin: 0px 0px 0px 0px;
}

.search-toggle-form .btn-form-close {
    --closeIconColor: var(--paletteColor5);
    --closeIconHoverColor: var(--paletteColor4);
}

.search-toggle-form .search-field {
    --searchHeaderFontColor: var(--paletteColor1);
}

.search-toggle-form {
    --background-color: rgba(18, 21, 25, 0.5);
}

.sticky-header.is-sticky .sticky-row #search {
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
}

.transparent-active .transparent-header #search {
    --icon-color: var(--paletteColor1);
    --icon-hover-color: var(--paletteColor3);
}

.site-header .header-row.bottom-row {
    --padding: 0px 0px 0px 0px;
    --rowContainerWidth: 1200px;
    --background-color: var(--paletteColor5);
    --border-top: 1px none rgba(44, 62, 80, 0.2);
    --border-bottom_hover: 1px solid;
    --border-bottom: 1px solid #010d0014;
    --item-gap: 15px;
}

.sticky-header.is-sticky .sticky-row.header-row.bottom-row {
    --background-color: var(--paletteColor5);
    --borderTop: 1px none rgba(44, 62, 80, 0.2);
    --borderBottom_hover: 1px solid;
    --borderBottom: 1px solid #010d0014;
}

.transparent-active .site-header .transparent-header .bottom-row {
    --background-color: rgba(0, 0, 0, 0);
    --borderTop: 1px none rgba(0, 0, 0, 0);
    --borderBottom: 1px none rgba(0, 0, 0, 0);
}

.rishi_footer_socials {
    --margin: 0px 0px 0px 0px;
    --icon-size: 15px;
    --spacing: 15px;
}

.rishi_footer_socials .rishi-color-type-custom {
    --icon-color: var(--paletteColor5);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor7);
    --background-hover-color: var(--paletteColor6);
}

#footer-site-navigation {
    --margin: 0px 0px 0px 0px;
    --menu-items-spacing: 25px;
    --linkInitialColor: var(--paletteColor5);
    --linkHoverColor: var(--paletteColor3);
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 1.3em;
    --letterSpacing: 0.3px;
    --textTransform: normal;
}

.rishi-footer .footer-top-row {
    --col-no: repeat(1, 1fr);
    --colSpacing: 60px;
    --rowContainerWidth: 1200px;
    --topSpacing: 30px;
    --botSpacing: 30px;
    --itemSpacing: 15px;
    --background-color: #010d00;
    --headingColor: var(--paletteColor5);
    --border-top: 1px none #dddddd;
    --border-bottom: 1px none #dddddd;
    --colBorder: 1px none #dddddd;
}

.rishi-footer .footer-top-row .widget h1, .rishi-footer .footer-top-row .widget h2, .rishi-footer .footer-top-row .widget h3, .rishi-footer .footer-top-row .widget h4, .rishi-footer .footer-top-row .widget h5, .rishi-footer .footer-top-row .widget h6 {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: uppercase;
}

.rishi-footer .footer-top-row .widget {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: default;
    --color: var(--paletteColor5);
    --linkInitialColor: var(--paletteColor5);
    --linkHoverColor: var(--paletteColor3);
}

.rishi-footer .footer-middle-row {
    --col-no: repeat(1, 1fr);
    --colSpacing: 60px;
    --rowContainerWidth: 1200px;
    --topSpacing: 10px;
    --botSpacing: 30px;
    --itemSpacing: 15px;
    --background-color: #010d00;
    --headingColor: var(--paletteColor5);
    --border-top: 1px none #dddddd;
    --border-bottom: 1px none #dddddd;
    --colBorder: 1px none #dddddd;
}

.rishi-footer .footer-middle-row .widget h1, .rishi-footer .footer-middle-row .widget h2, .rishi-footer .footer-middle-row .widget h3, .rishi-footer .footer-middle-row .widget h4, .rishi-footer .footer-middle-row .widget h5, .rishi-footer .footer-middle-row .widget h6 {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: uppercase;
}

.rishi-footer .footer-middle-row .widget {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: default;
    --color: var(--paletteColor5);
    --linkInitialColor: var(--paletteColor5);
    --linkHoverColor: var(--paletteColor3);
}

.rishi-footer-copyrights {
    --margin: 0px 0px 0px 0px;
    --color: #ffffffcc;
    --linkInitialColor: #ffffff;
    --linkHoverColor: var(--paletteColor3);
    --fontFamily: Poppins, Sans-Serif;
    --fontWeight: 400;
    --fontSize: 14px;
    --fontStyle: normal;
    --lineHeight: 1.75em;
    --letterSpacing: 0.6px;
    --textTransform: default;
}

#rishi-footer-contacts {
    --fontSize: 14px;
    --lineHeight: 1.3;
    --fontWeight: 400;
    --textTransform: normal;
    --margin: 0px 0px 0px 0px;
    --icon-size: 15px;
    --items-spacing: 15px;
    --color: var(--paletteColor5);
    --hover-color: var(--paletteColor3);
    --icon-color: var(--paletteColor5);
    --icon-hover-color: var(--paletteColor3);
    --background-color: var(--paletteColor6);
    --background-hover-color: rgba(218, 222, 228, 0.7);
}

.rishi-footer .footer-bottom-row {
    --col-no: repeat(1, 1fr);
    --colSpacing: 60px;
    --rowContainerWidth: 1200px;
    --topSpacing: 25px;
    --botSpacing: 25px;
    --itemSpacing: 15px;
    --background-color: #010d00;
    --headingColor: var(--paletteColor5);
    --border-top_hover: 1px solid;
    --border-top: 1px solid #ffffff14;
    --border-bottom: 1px none #dddddd;
    --colBorder: 1px none #dddddd;
}

.rishi-footer .footer-bottom-row .widget h1, .rishi-footer .footer-bottom-row .widget h2, .rishi-footer .footer-bottom-row .widget h3, .rishi-footer .footer-bottom-row .widget h4, .rishi-footer .footer-bottom-row .widget h5, .rishi-footer .footer-bottom-row .widget h6 {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: uppercase;
}

.rishi-footer .footer-bottom-row .widget {
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --fontWeight: 400;
    --fontSize: 16px;
    --fontStyle: default;
    --lineHeight: 1.75em;
    --letterSpacing: 0.4px;
    --textTransform: default;
    --color: var(--paletteColor5);
    --linkInitialColor: var(--paletteColor5);
    --linkHoverColor: var(--paletteColor3);
}

h1.block-editor-rich-text__editable, .wp-block-post-title {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 48px;
    --fontStyle: normal;
    --lineHeight: 1.25em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h2.block-editor-rich-text__editable {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 40px;
    --fontStyle: normal;
    --lineHeight: 1.67em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h3.block-editor-rich-text__editable {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 700;
    --fontSize: 32px;
    --fontStyle: normal;
    --lineHeight: 1.33em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h4.block-editor-rich-text__editable {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 24px;
    --fontStyle: normal;
    --lineHeight: 1.33em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h5.block-editor-rich-text__editable {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 500;
    --fontSize: 18px;
    --fontStyle: normal;
    --lineHeight: 1.5em;
    --letterSpacing: 0px;
    --textTransform: default;
}

h6.block-editor-rich-text__editable {
    --fontFamily: Roboto Slab, Sans-Serif;
    --fontWeight: 700;
    --fontSize: 16px;
    --fontStyle: normal;
    --lineHeight: 1.5em;
    --letterSpacing: 0px;
    --textTransform: default;
}