:root {
    --postx_preset_Base_1_color: #f4f4ff;
    --postx_preset_Base_2_color: #dddff8;
    --postx_preset_Base_3_color: #B4B4D6;
    --postx_preset_Primary_color: #3323f0;
    --postx_preset_Secondary_color: #4a5fff;
    --postx_preset_Tertiary_color: #FFFFFF;
    --postx_preset_Contrast_3_color: #545472;
    --postx_preset_Contrast_2_color: #262657;
    --postx_preset_Contrast_1_color: #10102e;
    --postx_preset_Over_Primary_color: #ffffff;
}