@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

:root {
    --postx_preset_Heading_typo_font_family: Roboto;
    --postx_preset_Heading_typo_font_family_type: sans-serif;
    --postx_preset_Heading_typo_font_weight: 600;
    --postx_preset_Heading_typo_text_transform: capitalize;
    --postx_preset_Body_and_Others_typo_font_family: Roboto;
    --postx_preset_Body_and_Others_typo_font_family_type: sans-serif;
    --postx_preset_Body_and_Others_typo_font_weight: 400;
    --postx_preset_Body_and_Others_typo_text_transform: lowercase;
    --postx_preset_body_typo_font_size_lg: 16px;
    --postx_preset_paragraph_1_typo_font_size_lg: 12px;
    --postx_preset_paragraph_2_typo_font_size_lg: 12px;
    --postx_preset_paragraph_3_typo_font_size_lg: 12px;
    --postx_preset_heading_h1_typo_font_size_lg: 42px;
    --postx_preset_heading_h2_typo_font_size_lg: 36px;
    --postx_preset_heading_h3_typo_font_size_lg: 30px;
    --postx_preset_heading_h4_typo_font_size_lg: 24px;
    --postx_preset_heading_h5_typo_font_size_lg: 20px;
    --postx_preset_heading_h6_typo_font_size_lg: 16px;
}