* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-red: red;
    --clr-white: white;
    --tag-border: 0.25rem;
}


html {
    font-size: 1.125rem;
}

[class*="link"] {
    cursor: pointer;
}

[class*="tag"] {
    background-color: var(--clr-red);
    text-decoration: none;
    color: var(--clr-white);
    border-radius: var(--tag-border);
    padding: 0 0.15rem;
}

nav>li {
    list-style: none;
}

img {
    width: 100%;
}

.container.layout-center {
    max-width: 87.5rem;
    margin-inline: auto;
}

header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

header img {
    width: 10rem;
}

header> :first-child {
    flex-basis: 100%;
    align-self: center;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

header .social-link {
    display: flex;
    gap: 1rem;
}

header nav>*:hover {
    color: var(--clr-red);
}

.social-link img,
.icon {
    width: 1rem;
    height: 1rem;
}

.hero-layout-2-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
}

@media screen and (min-width: 45rem) {
    .hero-layout-2-col> :first-child {
        grid-area: span 2 / span 2;
    }

}

.hero-layout-2-col> :first-child>img {
    height: 37.5rem;
    object-fit: cover;
}

.container .container:first-of-type {
    border-radius: 0.75rem;
}

.container .image__container:has(> img:first-child) {
    position: relative;
}

.container .image__container .container {
    padding: 2rem 0 1rem 1rem;
    position: absolute;
    bottom: 10px;
}

.image__container h2 {
    color: var(--clr-white);
}
