<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="App.css">
    <title>blogpost</title>
</head>

<body>
    <main class="body">
        <header class="container layout-center">
            <img id="header-logo" src="./resources/logo.png" alt="OyeBusy">
            <div class="container">
                <div class="social-link">
                    <img src="./resources/facebook.svg" alt="fb">
                    <img src="./resources/instagram.svg" alt="ig">
                    <img src="./resources/linkedin.svg" alt="li">
                    <img src="./resources/twitter.svg" alt="tw">
                </div>
                <nav>
                    <li class="link-menu-items">Home</li>
                    <li class="link-menu-items">Fashion</li>
                    <li class="link-menu-items">Technology</li>
                    <li class="link-menu-items">Lifestyle</li>
                    <li class="link-menu-items">Environment</li>
                </nav>
                <img class="icon" src="./resources/search.svg" alt="O">
            </div>
        </header>
        <section class="container layout-center hero-layout-2-col">
            <div class="image__container">
                <img alt="" src="./resources/img.png" />
                <div class="container">
                    <a class="tag" href="#">Fashion</a>
                    <h2 class="title">The Hidden Mystery Behind Fashion</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal"> <span>Feb 4
                            2022</span> </a>
                </div>
            </div>
            <div class="image__container">
                <img src="./resources/img_2.png" alt="cal">
                <div class="container">
                    <a class="tag" href="#">Fashion</a>
                    <h2 class="content-title">Everything I Learned About Beauty</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal"> <span>Feb 4
                            2022</span> </a>
                </div>
            </div>
            <div class="image__container">
                <img alt="img" src="./resources/img_1.png" />
                <div class="container">
                    <a class="tag" href="#">Technology</a>
                    <h2 class="title">Prioritizing Your Trend To Get Your Business</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal"> <span>Feb 4
                            2022</span> </a>
                </div>
            </div>
        </section>
        <section class="container layout-center container-fixed-height">
            <section class="topics">
                <div class="topics__bar">
                    <nav>
                        <h2>Hot Topics</h2>
                        <div>
                            <button>
                                <img class="icon" src="./resources/back.svg" alt="b">
                            </button>
                            <button>
                                <img class="icon" src="./resources/forward.svg" alt="f">
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="container">
                    <div class="left">
                        <div class="content">
                            <div class="container">
                                <img alt="" src="./resources/img_6.png" />
                                <h3 class="content-title">Why should you be eating Organic ?</h3>
                                <a href="#"><img class="icon" src="./resources/calender.svg" alt="cal"><span>Feb 4
                                        2022</span></a>
                                <a href="#"><img class="icon" src="./resources/zig.svg" alt="Z"><span>8 min
                                        Read</span></a>
                                <p>Most of us have, at some point, considered what we would do if we could…</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="content">
                            <h2>Which Camera Is Better: The Pixel 6 Vs S21 Ultra?</h2>
                            <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                                    alt="p"><span>Rishi</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                                <span>Feb 4
                                    2022</span> </a>
                        </div>
                        <div class="content">
                            <h2>Truth About Beauty In 3 Minutes<span> </h2>
                            <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                                    alt="p"><span>Rishi</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                                <span>Feb 4
                                    2022</span> </a>
                        </div>
                        <div class="content">
                            <h2>this is the sixth warmest year on the record for the planet.</h2>
                            <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                                    alt="p"><span>Rishi</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                                <span>Feb 4
                                    2022</span> </a>
                        </div>
                        <div class="content">
                            <h2>the source of horizon bottled water is the subject of a fierce feud.</h2>
                            <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                                    alt="p"><span>Rishi</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                                <span>Feb 4
                                    2022</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fashion">
                <h2>Fashion</h2>
                <div class="container">
                    <img src="./resources/img_4.png" />
                    <div class="content">
                        <p>Facts Everyone Should Know About Design </p>
                        <a href="#"><img src="./resources/calender.svg" alt="cal"><span>Feb 4 2022</span></a>
                        <a href="#"><img src="./resources/zig.svg" alt="Z"><span>8 min Read</span></a>
                    </div>
                </div>
                <div class="container">
                    <div class="content">
                        <p>Facts Everyone Should Know About Design </p>
                        <a href="#"><img src="./resources/calender.svg" alt="cal"><span>Feb 4 2022</span></a>
                        <a href="#"><img src="./resources/zig.svg" alt="Z"><span>8 min Read</span></a>
                    </div>
                </div>
            </section>
                    
        </section>
        <img src="./resources/forward.svg" alt="f">
        <img src="./resources/back.svg" alt="b">
        <a class="content-category" href="#">Environment</a>
        <h3 class="content-title">Why should you be eating Organic ?</h3>
        <img alt="" src="./resources/img_4.png" />
        <a class="content-category" href="//">Environment</a>
        <h3 class="content-title">Why should you be eating Organic ?</h3>
        <img src="./resources/zig.svg" alt="Z">8 min Read</span>
        <img alt="" src="./resources/img_4.png" />
        <a class="content-category" href="//">Environment</a>
        <h3 class="content-title">Why should you be eating Organic ?</h3>
        <img src="./resources/zig.svg" alt="Z">8 min Read</span>
        <img alt="" src="./resources/img_4.png" />
        <a class="content-category" href="#">Environment</a>
        <h3 class="content-title">Many nation are pursuing nuclear power as a means of reducing emissions. </h3>
        <img src="./resources/zig.svg" alt="Z">8 min Read</span>
        <h2>Fashion</h2>
        <img src="./resources/img_10.png" alt="beauty">
        <img src="./resources/img_10.png" alt="beauty">
        <img src="./resources/calender.svg" alt="cal"><a>Feb 8, 2022</a>
        <p>Truth About Beauty In 3 Minutes</p>
        <img src="./resources/img_10.png" alt="beaut">
        <img src="./resources/calender.svg" alt="cal"><a>Feb 8, 2022</a>
        <p>Truth About Beauty In 3 Minutes</p>
        <img src="./resources/img_10.png" alt="beauty">
        <p>Truth About Beauty In 3 Minutes</p><img src="./resources/calender.svg" alt="cal"><a>Feb 8, 2022</a>
        <h2>Fashion</h2>
        <img src="./resources/img_10.png" alt="beauty">
        <img src="./resources/img_10.png" alt="beauty">
        <img src="./resources/calender.svg" alt="cal">
        <p>Truth About Beauty In 3 Minutes</p>
        <img src="./resources/img_10.png" alt="beauty">
        <img src="./resources/calender.svg" alt="cal">
        <p>Truth About Beauty In 3 Minutes<span></span> </p>
        <img src="./resources/img_10.png" alt="beauty" height="100" width="100">
        <h2>Fashion</h2>
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/img_10.png" alt="beauty">
        <p>Truth About Beauty In 3 Minutes</p>
        <img src="./resources/img_10.png" alt="beauty">
        <div>Truth About Beauty In 3 Minutes<span><img src="./resources/calender.svg" alt="cal">Feb 8, 2022</span>
        </div>
        <img src="./resources/img_10.png" alt="beauty" height="100" width="100">
        <img src="./resources/calender.svg" alt="cal">
        <p>Truth About Beauty In 3 Minutes</p>
        <img alt="" src="./resources/img_12.png" />
        <h3 class="content-title">The Hidden Mystery Behind Fashion</h3>
        <p>Subscribe and get 15%off</p>
        <a class="content-category" href="#">Fashion</a>
        <h2>Don't Miss</h2>
        <img src="./resources/img_7.png" alt="im">
        <h1> Facts Everyone Should Know About Design </h1>
        <img src="./resources/calender.svg" alt="cal">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus eum nostrum nulla omnis quis
            recusandae ullam! Ex inventore, quisquam. </p>
        <img src="./resources/img_7.png" alt="im">
        <h1> Facts Everyone Should Know About Design </h1>
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus eum nostrum nulla omnis quis
            recusandae ullam! Ex inventore, quisquam. </p>
        <section class="banner"></section>
        <img src="./resources/img_7.png" alt="im">
        <h1> Facts Everyone Should Know About Design </h1>
        <img src="./resources/person.svg" alt="p">Rishi
        <img src="./resources/calender.svg" alt="cal">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus
            eum nostrum nulla omnis quis recusandae ullam! Ex inventore, quisquam. </p>
        <img src="./resources/img_7.png" alt="im">
        <h1> Facts Everyone Should Know About Design </h1>
        <img src="./resources/person.svg" alt="p">Rishi
        <img src="./resources/calender.svg" alt="cal">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus eum nostrum nulla omnis quis
            recusandae ullam! Ex inventore, quisquam. </p>
        <img src="./resources/img_7.png" alt="im">
        <h1> Facts Everyone Should Know About Design </h1>
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus eum nostrum nulla omnis quis
            recusandae ullam! Ex inventore, quisquam. </p>
        <h2>Tech</h2>
        <a class="content-category" href="#">Environment</a>
        <h3 class="content-title">Many nation are pursuing nuclear power as a means of reducing emissions. </h3>
        <img alt="" src="./resources/img_4.png" />
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/zig.svg" alt="Z">8 min Read</span>
        <img src="./resources/img_7.png" alt="im">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/person.svg" alt="p">
        <p> Facts Everyone Should Know About Design </p>
        <p class="">Facts Everyone Should Know About Design </p>
        <img src="./resources/img_7.png" alt="im">
        <h2>Popular Categories</h2>
        <li><a href="#link">Environment</a></li>
        <li><a href="#link">Fashion</a></li>
        <li><a href="#link">LifeStyle</a></li>
        <li><a href="#link">Technology</a></li>
        <h2>Recent</h2>
        <img src="./resources/img_7.png" alt="im">
        <p> Facts Everyone Should Know About Design </p>
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/img_7.png" alt="im">
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/img_7.png" alt="im">
        <p> Facts Everyone Should Know About Design </p>
        <img src="./resources/person.svg" alt="p">
        <img src="./resources/calender.svg" alt="cal">
        <img src="./resources/img_7.png" alt="im">
        <img src="./resources/img_3.png" alt="Magazine">
        <ul>Home</ul>
        <ul>Fashion</ul>
        <ul>Technology</ul>
        <ul>Lifestyle</ul>
        <ul>Environment</ul>
        <footer>
            <img src="./resources/facebook.svg" alt="fb">
            <img src="./resources/instagram.svg" alt="ig">
            <img src="./resources/linkedin.svg" alt="li">
            <img src="./resources/twitter.svg" alt="tw">
            <p>Copyright © 2023 Magazine - Powered by Rishi Theme</p>
        </footer>
    </main>
</body>

</html>
