* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-red: red;
    --clr-white: white;
    --clr-gray: gray;
    --clr-black: black;
    --tag-border: 0.25rem;
    --img-border: 5px;
    --gap15px: 0.9375rem;
}


html {
    font-size: 1.125rem;
}

[class*="link"] {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

[class*="tag"] {
    font-size: 12px;
    background-color: var(--clr-red);
    text-decoration: none;
    color: var(--clr-white);
    border-radius: var(--tag-border);
    padding: 3px 4px;
}

img.icon[src$="person.svg"],
img.icon[src$="zig.svg"],
img.icon[src$="calender.svg"] {
    filter: grayscale(100%) brightness(0.6);
}

nav>li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__container img.icon {
    filter: brightness(1);
}

.image__container>img:first-child {
    border-radius: 5px;
}

.image__container .container> :is(h3, h2) {
    text-transform: capitalize;
}

.image__container--sidewise {
    display: flex;
    align-items: center;
    gap: var(--gap15px);
}

.image__container--sidewise>img {
    border-radius: 10px;
    /* should have consistent width */
    width: 120px;
}

.container-fixed-height {
    max-height: 30rem;
}

.container.layout-center {
    padding: 1rem;
    max-width: 75rem;
    margin-inline: auto;
}

.container:has(.topics:first-child) {
    display: flex;
    gap: 0.9375rem;
}

@media screen and (max-width: 45rem) {
    .container:has(.topics:first-child) {
        flex-direction: column;
    }

    .topics__bar+.container {
        flex-direction: column;
    }
}

.container>img {
    border-radius: var(--img-border);
}

.container .container:first-of-type {
    border-radius: 0.75rem;
}

.container .image__container:has(> img:first-child) {
    position: relative;
    color: white;
}

.container .image__container .container {
    padding: 2rem 0 1rem 1rem;
    position: absolute;
    bottom: 10px;
}

.container .image__container .container .link:last-child:not(:has(img)) {
    display: block;
    text-decoration: underline;
}

header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

header img {
    width: 10rem;
}

header> :first-child {
    flex-basis: 100%;
    align-self: center;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

header .social-link {
    display: flex;
    gap: 1rem;
}

header nav>*:hover {
    color: var(--clr-red);
}

.social-link img,
.icon {
    width: 1rem;
    height: 1rem;
}

.hero-layout-2-col {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 720px));
    gap: 0.9375rem;
    justify-content: center;
}

.hero-layout-2-col .image__container:first-of-type {
    max-height: 585px;
    grid-column: span 2;
    grid-row: span 2;
    object-fit: cover;
}

.hero-layout-2-col .image__container:not(:first-of-type)>img {
    object-fit: cover;
    object-position: center top;
}

@media screen and (max-width:75rem) {
    .hero-layout-2-col {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    .hero-layout-2-col .image__container:first-of-type {
        grid-column: auto;
        grid-row: auto;
        /* grid-area: auto; */
    }
}

.image__container h2 {
    font-size: 0.80rem;
    color: var(--clr-white);
}

.image__container .link {
    color: white;
}

.image__container .link+a::has(img) {
    margin-left: 1rem;
}

.image__container .link *:not(:first-child) {
    margin-left: 0.25rem;
}

.topics nav {
    display: flex;
    justify-content: space-between;
}

.topics nav .icon {
    width: 1rem;
    height: 1rem;
}

.topics h2 {
    text-transform: capitalize;
}

nav>div {
    display: flex;
    gap: 5px;
}

nav button .icon {
    width: 1rem;
    height: 1rem;
}

nav button {
    cursor: pointer;
    background-color: var(--clr-gray);
    padding: 5px 10px;
}

nav button:hover {
    background-color: var(--clr-black);
}

.topics .right:has(.content:first-of-type, .content:first-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topics__bar+.container {
    display: flex;
    gap: var(--gap15px);
}

.topics .right h2 {
    font-size: 1.2rem;
}

.fashion>.container {
    display: grid;
    grid-template-rows: 300px 120px;
    gap: 2rem;
}

.hot-topics__bar>nav {
    display: flex;
    justify-content: space-between;
}

.hot-topics {
    display: flex;
    gap: var(--gap15px);
    flex-wrap: wrap;
}
.hot-topics .image__container{
    flex-basis: max(300px, calc(100% / 4) - var(--gap15px));
    flex-shrink: 1;
}

.layout-3-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: var(--gap15px);
}

.col-container .container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.col-container>.container>.content {
    display: flex;
    gap: var(--gap15px);
    flex-wrap: wrap;
}

.col-container>.container>.content h3 {
    font-size: 0.8rem;
    min-width: 300px;
}

.col-container>.container>.content>img {
    max-width: 100px;
    aspect-ratio: 1/1;
}
