.hero-card {
    color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 4px
}

.hero-card:hover .hero-image img {
    transform: scale(1.2)
}

.content-post {
    width: 100%;
    height: 100%;
    display: block
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hero-image .content-post {
    position: relative
}

.hero-image .content-post:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.11)
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform .3s ease-in-out
}

.content-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 21px;
    pointer-events: none;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.content-category {
    padding: 2px 5px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--oye-blog);
    border-radius: 2px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 13px;
    pointer-events: auto
}

.content-title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 11px
}

.content-date {
    font-size: 12px;
    display: flex;
    align-items: center
}

.content-date .content-icon {
    margin-right: 5px
}

@keyframes FlashSection_fade-in__1Jzod {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hero-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 285px;
    grid-gap: 15px;
    padding: 11px
}

@media(min-width: 901px) {
    .hero-section-container {
        grid-template-columns:3fr 2fr;
        padding: 33px
    }

    .hero-section-container>:first-child {
        grid-row: 1/span 2;
    }
}

.Header-container {
    display: flex;
    align-items: center;
    margin-bottom: 17px
}

.heading {
    font-size: 23px;
    font-weight: 700
}

.line {
    height: 2px;
    flex: auto;
    background-color: #e4e4e4;
    margin-left: 11px
}

@keyframes PostCard_fade-in__JE5qr {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.content-card {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative
}

.content-card:not(:last-child) {
    margin-bottom: 27px
}

.content-card .content-card-l {
    width: 30%
}

.content-card .content-card-r {
    width: 70%
}

.content-card.content-image .content-card-l {
    width: 100px;
    flex: 1 0 auto
}

.content-card.content-image .content-card-r {
    width: 100%
}

.content-card-l {
    overflow: hidden;
    border-radius: 4px;
    margin-right: 21px;
    display: block
}

.content-card-l .card-image-s {
    padding-bottom: 100%;
    position: relative
}

.content-card-l .card-image-s img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px
}

.card-title a {
    color: inherit;
    transition: color .2s ease
}

.card-title a:hover {
    color: var(--oye-blog)
}

.card-date {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 5px
}

.card-date .card-cal {
    margin-right: 5px
}

.card-p {
    margin-top: 23px;
    font-size: 17px
}

.card-xb {
    padding: 2px 5px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--oye-blog);
    border-radius: 2px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 13px;
    pointer-events: auto;
    margin-top: 10px;
    color: #fff
}

.content-card.card-b:first-child {
    color: #fff;
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 27px
}

.content-card.card-b:first-child .content-card-l {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-right: 0
}

.content-card.card-b:first-child .content-card-l:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .9s ease-in-out;
    background-image: linear-gradient(0deg,rgba(0,0,0,.8),transparent 80%,transparent)
}

.content-card.card-b:first-child .content-card-l:hover:after {
    background-image: linear-gradient(0deg,rgba(0,0,0,.8),hsla(0,0%,100%,.3) 80%,hsla(0,0%,100%,.3))
}

.content-card.card-b:first-child .content-card-l .card-image-s {
    padding-bottom: 0;
    height: 285px
}

@media(min-width: 901px) {
    .content-card.card-b:first-child .content-card-l .card-image-s {
        height:250px
    }
}

.content-card.card-b:first-child .content-card-r {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 21px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.content-card.card-b:first-child .content-card-r .card-title {
    pointer-events: auto
}

@keyframes ThreeCategories_fade-in__HlQtR {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-option {
    overflow: hidden;
    padding: 11px
}

@media(min-width: 901px) {
    .container-option {
        padding:33px
    }
}

.category-div {
    display: flex;
    flex: 0 0 auto;
    margin: -18px;
    flex-wrap: wrap
}

.category-div>* {
    margin: 18px;
    flex: auto;
    width: 100%
}

@media(min-width: 901px) {
    .category-div>* {
        flex:1 1
    }
}

@keyframes MainAndSideBar_fade-in__RiuLD {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.section-main-side {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    flex-wrap: wrap
}

.main-side {
    width: 100%
}

@media(min-width: 901px) {
    .main-side {
        width:calc(67% - 33px)
    }
}

.main-side-h {
    width: 100%;
    margin-top: 33px
}

@media(min-width: 901px) {
    .main-side-h {
        width:calc(33% - 33px);
        margin-top: 0
    }
}

.option-categories {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.option-categories:not(:last-child) {
    margin-bottom: 23px
}

@keyframes LatestPosts_fade-in__uACpc {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.updates {
    padding: 11px
}

@media(min-width: 901px) {
    .updates {
        padding:33px
    }
}

.updates-category {
    margin-top: 33px
}

.updates-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #f21d44;
    background-color: #fff;
    border: 1px solid #f21d43;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s
}

.updates-button:hover {
    color: #fff;
    background-color: #f21d43
}

@keyframes Logo_fade-in__5troT {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media(min-width: 901px) {
    .container-logo {
        justify-content:center
    }
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 23px
}

@media(min-width: 901px) {
    .logo {
        width:150px
    }
}

.logo-r {
    display: flex;
    align-items: center
}

.logo-r .log-ico {
    width: 23px;
    height: 23px;
    transition: color .3s ease;
    cursor: pointer;
    display: block
}

.logo-r .log-ico:hover {
    color: var(--oye-blog)
}

.logo-r .logo-search {
    margin-right: 11px
}

.logo-r .logo-switch {
    width: 28px;
    height: 28px;
    color: var(--oye-blog)
}

.logo-r .logo-switch:hover {
    color: inherit
}

@keyframes MenuItems_fade-in__2q_yK {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-menu-items {
    display: flex;
    flex-direction: column
}

@media(min-width: 901px) {
    .container-menu-items {
        flex-direction:row;
        align-items: center
    }
}

.link-menu-items {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    color: inherit;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    padding: 19px;
    border-bottom: none;
    position: relative;
    transition: color .2s ease
}

.link-menu-items:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    transition: width .2s ease,background-color .2s ease
}

@media(min-width: 901px) {
    .link-menu-items.menu-items-active:before,.link-menu-items:hover:before {
        background-color:var(--oye-blog);
        width: 100%
    }
}

.link-menu-items:hover {
    color: var(--oye-blog)
}

@keyframes Modal_fade-in__YYtJt {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.prop-dialogue {
    border: none;
    padding: 0;
    margin: revert;
    z-index: 3;
    animation: Modal_fade-in__YYtJt var(--transition-short);
    background-color: transparent;
    overflow: visible
}

.prop-dialogue::-webkit-backdrop {
    animation: Modal_fade-in__YYtJt var(--transition-short);
    background-color: rgba(0,0,0,.5)
}

.prop-dialogue::backdrop {
    animation: Modal_fade-in__YYtJt var(--transition-short);
    background-color: rgba(0,0,0,.5)
}

.prop-search {
    max-width: 100%;
    max-height: 100%;
    width: 100%
}

.prop-search::-webkit-backdrop {
    background-color: rgba(0,0,0,.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.prop-search::backdrop {
    background-color: rgba(0,0,0,.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.prop-search-form {
    display: flex;
    max-width: 600px;
    width: 90%;
    height: 60px;
    margin: auto
}

.prop-search-input {
    padding: 23px;
    outline: none;
    border: none;
    font-size: 17px;
    flex: 1 1
}

.prop-search-input:focus {
    border: 1px dashed
}

.SearchModal_btn__BJKrT {
    padding: 14px
}

.SearchModal_btn__BJKrT .prop-search-ico {
    width: 24px;
    height: 24px;
    color: #827586;
    display: block
}

.prop-search-close {
    padding: 5px;
    display: block;
    border-radius: 100%;
    position: fixed;
    top: 23px;
    right: 23px
}

.prop-search-close .prop-search-ico {
    width: 24px;
    height: 24px;
    color: #827586;
    display: block
}

.prop-search-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
    color: #fff
}

.prop-search-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #fff;
    width: 60%
}

@keyframes SearchBox_fade-in__lujT6 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media(min-width: 901px) {
    .container-search {
        width:100%
    }
}

.icon-search-box {
    width: 23px;
    height: 23px;
    transition: color .3s ease;
    cursor: pointer;
    display: block
}

@media(min-width: 901px) {
    .icon-search-box {
        margin-left:auto
    }
}

.icon-search-box:hover {
    color: var(--oye-blog)
}

.action-search {
    margin-right: 11px
}

@media(min-width: 901px) {
    .action-search {
        margin-right:0
    }
}

@keyframes Menus_fade-in__EsaxH {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-menu-0 {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all .3s ease;
    background-color: #fff;
    width: 90%;
    min-height: 100vh;
    max-height: 100vh;
    padding: 21px
}

.container-menu-0.menu-active-0 {
    opacity: 1;
    visibility: visible
}

@media(min-width: 901px) {
    .container-menu-0 {
        position:static;
        max-height: unset;
        min-height: unset;
        flex-direction: row;
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible
    }
}

.menu-close {
    width: 45px;
    height: 45px;
    color: inherit;
    transition: color .2s ease;
    cursor: pointer;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto
}

.menu-close:hover {
    color: var(--oye-blog)
}

@keyframes Navbar_fade-in__w0ADX {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-navbar {
    padding: 11px
}

@media(min-width: 901px) {
    .container-navbar {
        padding:11px 33px 0;
        border-bottom: 1px solid rgba(1,13,0,.08)
    }
}

.footer-c-container {
    text-align: center;
    font-family: var(--font-mulish);
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .08em
}

@keyframes LocationsandContact_fade-in__dwDUC {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media(min-width: 901px) {
    .container-contact {
        display:grid;
        grid-template-columns: auto auto;
        grid-column-gap: 3.3rem;
        column-gap: 3.3rem
    }
}

.section-contact {
    font-family: var(--font-poppins-500);
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1.5em;
    letter-spacing: .08em;
    color: #56fbff;
    margin-bottom: .5rem
}

@media(min-width: 901px) {
    .section-contact {
        font-family:var(--font-poppins-600);
        font-size: .8rem;
        white-space: nowrap
    }
}

.section-location-contact {
    font-family: var(--font-poppins-400);
    margin-bottom: 2.25rem;
    font-size: .85rem;
    line-height: 1.8em
}

@media(min-width: 901px) {
    .section-location-contact {
        font-family:var(--font-poppins-500);
        font-size: .8rem
    }
}

.section-location-contact li {
    display: inline
}

.section-location-contact .section-location-link {
    text-transform: capitalize
}

.section-location-contact .section-location-link:hover {
    opacity: .8
}

.section-contact-location {
    margin-bottom: 2.25rem;
    font-family: var(--font-poppins-400);
    font-size: .85rem;
    line-height: 1.5em
}

@media(min-width: 901px) {
    .section-contact-location {
        font-size:.8rem;
        margin-bottom: 3rem;
        display: flex;
        column-gap: 5.9rem
    }
}

.section-app {
    margin-bottom: 2.25rem
}

.section-app .section-google {
    width: 160px;
    height: auto
}

@keyframes InternalPageLinks_fade-in__QMzgr {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-redirect {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 2.4rem;
    font-size: .9rem
}

@media(min-width: 901px) {
    .container-redirect {
        flex-direction:row;
        justify-content: space-between;
        margin-bottom: 7rem
    }
}

.container-redirect li {
    text-align: center
}

.redirect-x {
    font-family: var(--font-mulish);
    font-weight: 600
}

.redirect-x:hover {
    opacity: .8
}

@keyframes SocialIcons_fade-in__TyRHx {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.75rem
}

@media(min-width: 901px) {
    .container-social {
        justify-content:center;
        gap: 2.3rem;
        margin-bottom: 1.3rem
    }
}

.social-link {
    display: block;
    width: 1.16rem;
    height: 1.16rem
}

@media(min-width: 901px) {
    .social-link {
        transform:scale(1.2)
    }
}

@keyframes Footer_fade-in__FB4Dv {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container-footer {
    background-color: #343434;
    color: #fff;
    font-size: .9rem;
    padding-inline:1.9rem;padding-block:1.5rem 1.8rem}

@media(min-width: 901px) {
    .container-footer {
        font-size:1rem;
        padding-inline:8.3%;padding-block:4.3rem 2.2rem}
}
