<section class="container layout-center container-fixed-height">
    <section class="topics container">
        <div class="topics__bar">
            <nav>
                <h2>Hot Topics</h2>
                <div>
                    <button>
                        <img class="icon" src="./resources/back.svg" alt="b">
                    </button>
                    <button>
                        <img class="icon" src="./resources/forward.svg" alt="f">
                    </button>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="left">
                <div class="content">
                    <div class="image__container">
                        <img alt="" src="./resources/img_6.png" />
                        <div class="container">
                            <h3 class="content-title">Why should you be eating Organic ?</h3>
                            <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                                    alt="p"><span>Rishi</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/calender.svg"
                                    alt="cal"><span>Feb 4
                                    2022</span></a>
                            <a href="#" class="link"><img class="icon" src="./resources/zig.svg" alt="Z"><span>8
                                    min
                                    Read</span></a>
                            <p>Most of us have, at some point, considered what we would do if we could…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <h2>Which Camera Is Better: The Pixel 6 Vs S21 Ultra?</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                        <span>Feb 4
                            2022</span> </a>
                </div>
                <div class="content">
                    <h2>Truth About Beauty In 3 Minutes<span> </h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                        <span>Feb 4
                            2022</span> </a>
                </div>
                <div class="content">
                    <h2>this is the sixth warmest year on the record for the planet.</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                        <span>Feb 4
                            2022</span> </a>
                </div>
                <div class="content">
                    <h2>the source of horizon bottled water is the subject of a fierce feud.</h2>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal">
                        <span>Feb 4
                            2022</span> </a>
                </div>
            </div>
        </div>
    </section>
    <section class="fashion">
        <h2>Fashion</h2>
        <div class="container">
            <div class="image__container">
                <img src="./resources/img_4.png" />
                <div class="container">
                    <h3>truth about beauty in 3 little words</h3>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal"><span>Feb 4
                            2022</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/zig.svg" alt="Z"><span>8 min
                            Read</span></a>
                    <a href="#" class="link">READ MORE</a>
                </div>
            </div>
            <div class="image__container--sidewise">
                <img src="./resources/img_7.png" />
                <div class="content">
                    <p>Facts Everyone Should Know About Design </p>
                    <a href="#" class="link"><img class="icon" src="./resources/person.svg"
                            alt="p"><span>Rishi</span></a>
                    <a href="#" class="link"><img class="icon" src="./resources/calender.svg" alt="cal"><span>Feb 4
                            2022</span></a>
                </div>
            </div>
        </div>
    </section>
</section>
