:root {
    --e-global-color-rishi1: #343746;
    --e-global-color-rishi2: #0e132b;
    --e-global-color-rishi3: #f21d44;
    --e-global-color-rishi4: #827586;
    --e-global-color-rishi5: #ffffff;
    --e-global-color-rishi6: #e4e4e4;
    --e-global-color-rishi7: #feedf0;
    --e-global-color-rishi8: #fff9f9;
    --e-global-color-rishi9: #ffffff;
    --e-global-color-rishi10: #ffffff;
    --e-global-color-rishi11: #ffffff;
}

.error404 .rishi-container-wrap .posts-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.error404 .rishi-container-wrap .posts-wrap article {
    padding: 0 15px;
}

.error404 .rishi-container-wrap .posts-wrap article .entry-meta-pri-wrap {
    padding: 20px 15px 0 15px;
}

.error404 .rishi-container-wrap .posts-wrap article .entry-meta-pri-wrap .entry-meta-pri {
    padding: 0 0 10px;
}

.error404 .rishi-container-wrap .posts-wrap article .entry-meta-pri-wrap .entry-meta-pri .cat-links {
    font-size: 15px;
}

.error404 .rishi-container-wrap .posts-wrap article .entry-meta-pri-wrap .entry-meta-pri .cat-links a {
    color: var(--genLinkColor);
}

.error404 .rishi-container-wrap .posts-wrap article .entry-meta-pri-wrap .entry-meta-pri .cat-links a:hover {
    color: var(--genLinkHoverColor);
}

.error404 .rishi-container-wrap .posts-wrap article .entry-header {
    padding-left: 15px;
    padding-right: 15px;
}

.error404 .rishi-container-wrap .posts-wrap article .entry-title {
    font-size: 1.222em;
    margin-bottom: 0;
}

.error404 .rishi-container-wrap.col-per-1 {
    max-width: 761px;
    margin: 0 auto;
    width: 100%;
}

.error404 .rishi-container-wrap.col-per-1 .posts-wrap article {
    width: 100%;
}

.error404 .rishi-container-wrap.col-per-2 .posts-wrap article {
    width: 50%;
}

@media (max-width: 768px) {
    .error404 .rishi-container-wrap.col-per-2 .posts-wrap article {
        width: 100%;
    }
}

.error404 .rishi-container-wrap.col-per-3 .posts-wrap article {
    width: 33.33%;
}

@media (max-width: 768px) {
    .error404 .rishi-container-wrap.col-per-3 .posts-wrap article {
        margin-bottom: 40px;
        width: 100%;
    }
}

.error404 .rishi-container-wrap.col-per-4 .posts-wrap article {
    width: 25%;
}

.error404.box-layout .rishi-container-wrap {
    background: none;
    padding: 0;
}

.error404.box-layout .rishi-container-wrap .posts-wrap .entry-content-main-wrap {
    padding: 0 0 5px;
}

@media (max-width: 768px) {
    .error404.content-box-layout .main-content-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.recommended-title {
    font-size: 1.444em;
    margin-bottom: 46px;
}

@media (max-width: 768px) {
    .recommended-title {
        font-size: 1.333333em;
        margin-bottom: 25px;
    }
}

.go-to-blog-wrap {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.go-to-blog-wrap .go-to-blog {
    display: inline-block;
    padding: var(--buttonPadding);
    border: var(--buttonBorder);
    color: var(--btnTextColor);
    background: var(--btnBgColor);
    border-radius: var(--bottonRoundness);
    transition: all ease 0.3s;
}

.go-to-blog-wrap .go-to-blog:hover {
    background: var(--btnBgHoverColor);
    border: var(--buttonBorder_hover);
    color: var(--btnTextHoverColor);
}

.error-search-again-wrapper {
    margin-top: 55px;
}

.error-search-again-wrapper .error-search-inner {
    padding: 50px 100px;
    background: var(--baseColor);
}

@media (max-width: 768px) {
    .error-search-again-wrapper .error-search-inner {
        padding: 30px 15px;
    }
}

.error-search-again-wrapper .search-form {
    width: 100%;
    display: block;
    position: relative;
}

.error-search-again-wrapper .search-form input[type="search"] {
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #FCFCFC;
}

@media (max-width: 768px) {
    .error-search-again-wrapper .search-form input[type="search"] {
        height: 60px;
        line-height: 60px;
    }
}

.error-search-again-wrapper .search-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    height: 70px;
    width: 70px;
    border: none;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: var(--genLinkColor);
    border-radius: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .error-search-again-wrapper .search-form input[type="submit"] {
        height: 60px;
        line-height: 60px;
        width: 60px;
        background-size: 20px !important;
    }
}

.four-error-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 8%;
}

@media (max-width: 768px) {
    .four-error-wrap {
        padding: 0;
    }
}

.four-error-wrap figure {
    width: 176px;
}

@media (max-width: 768px) {
    .four-error-wrap figure {
        width: 114px;
    }
}

.four-error-wrap .four-error-content {
    width: calc(100% - 176px);
    padding-left: 70px;
}

@media (max-width: 768px) {
    .four-error-wrap .four-error-content {
        width: 100%;
        padding-left: 0;
    }
}

.four-error-wrap .error-title {
    font-size: 2.66667em;
    margin: 0;
}

@media (max-width: 768px) {
    .four-error-wrap .error-title {
        font-size: 2.222222em;
    }
}

.four-error-wrap .error-sub-title {
    font-size: 1.22222em;
    margin-top: 20px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .four-error-wrap .error-sub-title {
        font-size: 1.11111em;
    }
}

.four-error-wrap .error-desc {
    font-size: 1em;
    color: var(--primaryColor);
    margin-top: 12px;
    margin-bottom: 0;
}

.rishi-breadcrumb-main-wrap {
    padding: var(--padding);
}

.rishi-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rishi-breadcrumbs > span a {
    transition: all ease 0.3s;
}

.rishi-breadcrumbs > span a span {
    color: var(--breadcrumbsColor);
}

.rishi-breadcrumbs > span a:hover span {
    color: var(--breadcrumbsCurrentColor);
}

.rishi-breadcrumbs > span .separator {
    display: inline-block;
    margin: 0 5px;
    line-height: 1;
}

.rishi-breadcrumbs > span .separator svg {
    width: calc(var(--fontSize) / 1.5);
    height: calc(var(--fontSize) / 1.5);
    color: var(--breadcrumbsSeparatorColor);
}

.rishi-breadcrumbs > span.current a {
    pointer-events: none;
}

.rishi-breadcrumbs > span.current a span {
    color: var(--breadcrumbsCurrentColor);
}

#rishi-copyrights {
    display: flex;
    height: 100%;
}

#rishi-copyrights .rishi-footer-copyrights {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    font-weight: var(--fontWeight);
    color: var(--color);
    margin: var(--margin);
}

#rishi-copyrights .rishi-footer-copyrights p {
    margin-bottom: 0;
}

#rishi-copyrights .rishi-footer-copyrights a {
    color: var(--linkInitialColor);
    transition: 0.3s ease all;
}

#rishi-copyrights .rishi-footer-copyrights a:hover {
    color: var(--linkHoverColor);
}

#rishi-copyrights .rishi-footer-copyrights > *:not(:first-child) {
    margin-top: 0.5em;
}

.rishi_header_socials {
    margin: var(--margin);
}

.rishi_social_box {
    display: flex;
    color: var(--icon-color);
    flex-wrap: wrap;
    gap: var(--spacing);
}

.rishi_social_box a {
    display: flex;
    align-items: center;
}

.rishi_social_box a:hover svg {
    fill: var(--icon-hover-color, var(--paletteColor2));
}

.rishi-socials-fill-type-solid .rishi-icon-container {
    background-color: var(--background-color);
}

.rishi-socials-fill-type-solid > *:hover .rishi-icon-container {
    background-color: var(--background-hover-color);
}

.site-branding {
    margin: var(--margin);
}

.site-logo {
    display: block;
    line-height: 1;
    margin: 0 auto;
    max-width: var(--LogoMaxWidth, 150px);
}

.site-logo img {
    width: auto;
    height: inherit;
    object-fit: contain;
}

.site-branding-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.site-description {
    color: var(--color);
    margin: 0;
}

.site-title {
    margin: 0;
}

.logouptitletagline .site-branding-container, .logodowntitletagline .site-branding-container, .titlelogotagline .site-branding-container {
    text-align: center;
}

.logouptitletagline .site-branding-container, .logodowntitletagline .site-branding-container {
    flex-direction: column;
}

@media (max-width: 1000px) {
    .logouptitletagline .site-branding-container, .logodowntitletagline .site-branding-container, .titlelogotagline .site-branding-container {
        text-align: left;
    }
}

.site-header .rishi-menu > .menu-item-has-children > .sub-menu {
    top: 100%;
    margin-top: var(--dropdown-top-offset, 0);
}

.site-header .rishi-menu > .menu-item-has-children > .sub-menu a {
    padding: calc(var(--dropdown-items-spacing) / 2) 15px;
}

.site-header .menu-item-has-children {
    position: relative;
}

.site-header .menu-item-has-children .sub-menu {
    position: absolute;
    border-radius: var(--border-radius);
    list-style: none;
    width: var(--dropdown-width, 200px);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: opacity 0.2s linear, transform 0.2s linear, visibility 0.2s linear;
    padding: 0;
    z-index: 1;
    visibility: hidden;
}

.keyboard-nav-on .site-header .menu-item-has-children .sub-menu {
    visibility: visible;
}

.site-header .menu-item-has-children .sub-menu .sub-menu {
    left: 100%;
    margin: 0 5px;
    top: 0;
}

.site-header .menu-item-has-children .sub-menu.right {
    right: 0;
}

.site-header .menu-item-has-children .sub-menu.right .sub-menu {
    left: auto;
    right: 100%;
}

.site-header .menu-item-has-children .sub-menu.right li.menu-item > a {
    flex-direction: row-reverse;
}

.site-header .menu-item-has-children .sub-menu.right li.menu-item > a .submenu-toggle {
    transform: rotate(90deg);
}

.site-header .menu-item-has-children .sub-menu:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: var(--dropdown-top-offset, 0);
    transform: translateY(-100%);
}

.site-header .menu-item-has-children .sub-menu li {
    border-top: var(--dropdown-divider);
}

.site-header .menu-item-has-children .sub-menu li:first-child {
    border-top: none;
}

.site-header .menu-item-has-children .sub-menu li a {
    justify-content: space-between;
}

.site-header .menu-item-has-children .sub-menu li a .submenu-toggle {
    transform: rotate(270deg);
}

[class*="rishi-menu-layout"] > ul > li {
    display: flex;
    align-items: center;
}

:is(.rishi-menu-layout-type-2,.rishi-menu-layout-type-4,.rishi-menu-layout-type-7) > ul > li > a {
    height: var(--menu-item-height);
    background-color: transparent;
    background-image: linear-gradient(var(--currentMenuLinkAccent, var(--paletteColor2)), var(--currentMenuLinkAccent, var(--paletteColor2)));
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

:is(.rishi-menu-layout-type-2,.rishi-menu-layout-type-4,.rishi-menu-layout-type-7) > ul > li:hover a, :is(.rishi-menu-layout-type-2,.rishi-menu-layout-type-4,.rishi-menu-layout-type-7) > ul > li.current-menu-item a {
    background-size: 100% 2px;
}

.rishi-menu-layout-type-4 > ul > li:hover > a, .rishi-menu-layout-type-4 > ul > li.current-menu-item > a {
    background-color: var(--currentMenuLinkBg, var(--paletteColor2));
}

.rishi-menu-layout-type-3 > ul > li:hover > a, .rishi-menu-layout-type-3 > ul > li.current-menu-item > a {
    background-color: var(--currentMenuLinkAccent, var(--paletteColor2));
}

.rishi-menu-layout-type-5 > ul > li > a:after {
    content: "";
    height: 5px;
    width: 5px;
    bottom: 10%;
}

:is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::after, :is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::before {
    position: absolute;
    border-radius: 100%;
    aspect-ratio: 1/1;
    opacity: 0;
    background-color: var(--currentMenuLinkAccent, var(--paletteColor2));
    transition: opacity 0.25s ease-in-out;
}

:is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li:hover > a::after, :is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li:hover > a::before, :is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li.current-menu-item > a::after, :is(.rishi-menu-layout-type-5,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li.current-menu-item > a::before {
    opacity: 1;
}

:is(.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::after, :is(.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

:is(.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::after {
    left: 0;
}

:is(.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) > ul > li > a::before {
    right: 0;
}

.rishi-menu-layout-type-6 > ul > li > a::after, .rishi-menu-layout-type-6 > ul > li > a::before {
    height: 5px;
    width: 5px;
}

.rishi-menu-layout-type-8 > ul > li > a::after, .rishi-menu-layout-type-8 > ul > li > a::before {
    height: 2px;
    width: 5px;
}

.rishi-menu-layout-type-7 > ul > li > a {
    background-position: left 52%;
}

.rishi-slide-down .menu-item-has-children > .sub-menu {
    transform: translateY(-20px);
}

.rishi-slide-up .menu-item-has-children > .sub-menu {
    transform: translateY(20px);
}

:is(.rishi-slide-down,.rishi-slide-up) .menu-item-has-children:hover > .sub-menu, :is(.rishi-slide-down,.rishi-slide-up) .menu-item-has-children:focus-within > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.rishi-fade-in .menu-item-has-children:hover > .sub-menu, .rishi-fade-in .menu-item-has-children:focus-within > .sub-menu {
    opacity: 1;
    visibility: visible;
}

:is(.rishi-menu-layout-type-2,.rishi-menu-layout-type-3,.rishi-menu-layout-type-4,.rishi-menu-layout-type-6,.rishi-menu-layout-type-8) li > a {
    padding-left: 15px;
    padding-right: 15px
}

.search-form-section {
    display: inline-block;
    line-height: 0;
    position: relative;
}

.header-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    color: var(--primaryColor);
}

.header-search-btn:focus {
    outline: dotted 1px rgba(41, 41, 41, 0.6);
}

.header-search-btn:focus, .header-search-btn:hover {
    background: transparent;
    border: none;
}

.header-search-btn svg {
    fill: var(--icon-color);
    height: var(--icon-size);
    margin: var(--margin);
    width: var(--icon-size);
    transition: 0.3s ease all;
}

.header-search-btn:hover svg {
    fill: var(--icon-hover-color);
}

.search-toggle-form.cover-modal {
    background-color: var(--background-color);
    display: none;
    left: 0;
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.search-toggle-form .header-search-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    height: 100%;
}

.search-toggle-form .header-search-inner .search-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    background: #ffffff;
    position: relative;
}

.search-toggle-form .header-search-inner label {
    width: calc(100% - 60px);
}

.search-toggle-form .header-search-inner input[type="submit"] {
    text-indent: 9999999px;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    padding: 0 10px;
    border-radius: 0;
    border: none;
    transition: background-color 0.25s ease-in-out;
}

.search-toggle-form .header-search-inner input[type="submit"]:hover, .search-toggle-form .header-search-inner input[type="submit"]:focus {
    --btnBgHoverColor: var(--paletteColor4);
}

.search-toggle-form .header-search-inner input[type="submit"]:focus-visible {
    outline: 2px dotted rgba(41, 41, 41, 0.6);
}

.search-toggle-form input[type="search"] {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 13px 50px 11px 24px;
    border-color: var(--genborderColor);
    font-size: 0.777788em;
    color: var(--searchHeaderFontColor);
}

.search-toggle-form input[type="search"]::placeholder {
    color: var(--searchHeaderFontColor);
}

.search-toggle-form input[type="search"]::-moz-placeholder {
    color: var(--searchHeaderFontColor);
}

.search-toggle-form input[type="search"]:focus {
    outline: 2px dotted rgba(0, 0, 0, 0.6);
}

.search-toggle-form .btn-form-close {
    background: var(--closeButtonBackground);
    border: 1px solid var(--closeIconColor);
    border-radius: 100px;
    color: var(--closeIconColor);
    padding: 0;
    height: 30px;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all ease 0.3s;
}

@media (max-width: 1024px) {
    .search-toggle-form .btn-form-close {
        right: 15px;
    }
}

.search-toggle-form .btn-form-close:hover {
    background: var(--closeButtonHoverBackground);
    border: 1px solid var(--closeIconHoverColor);
    color: var(--closeIconHoverColor);
}

.search-toggle-form .btn-form-close:focus {
    outline: 2px dotted rgba(255, 255, 255, 0.6);
}

.search-toggle-form .btn-form-close:before, .search-toggle-form .btn-form-close:after {
    position: absolute;
    top: 5px;
    left: auto;
    content: "";
    width: 1px;
    height: 18px;
    border-radius: 0;
    background: currentColor;
    transition: width 240ms ease-in-out, transform 240ms ease-in-out;
}

.search-toggle-form .btn-form-close:before {
    transform: rotate(45deg);
}

.search-toggle-form .btn-form-close:after {
    transform: rotate(-45deg);
}

.search-toggle-form .btn-form-close:focus {
    opacity: 1;
}

.rishi-offcanvas-drawer .rishi-mobile-menu {
    width: 100%;
    margin: var(--margin);
}

.rishi-mobile-menu ul {
    margin: 0;
}

.rishi-mobile-menu li {
    display: flex;
    flex-direction: column;
    align-items: var(--horizontal-alignment);
}

.rishi-mobile-menu li a {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.rishi-mobile-menu .menu-item-has-children > ul.sub-menu {
    width: 100%;
    overflow: hidden;
    transition: height .3s cubic-bezier(0.4, 0, 0.2, 1), opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.rishi-mobile-menu .menu-item-has-children:not(.submenu-active) > ul.sub-menu {
    display: none;
    opacity: 0;
}

.rishi-mobile-menu .menu-item-has-children .submenu-active > ul.sub-menu {
    opacity: 1;
    display: block;
}

.rishi-mobile-menu .menu-item-has-children > ul a, .rishi-mobile-menu .page_item_has_children > ul a {
    font-size: var(--fontSize);
}

.rishi-mobile-menu .submenu-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    padding-left: 20px;
    padding: 0 0 0 20px;
    border: none;
    background: transparent;
}

.rishi-mobile-menu .submenu-toggle svg {
    fill: var(--linkInitialColor);
    margin: 10px;
}

.rishi-mobile-menu li.current-menu-item > a .submenu-toggle svg {
    fill: var(--linkHoverColor);
}

.rishi-mobile-menu ul li a {
    color: var(--linkInitialColor);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);
    text-decoration: var(--textDecoration);
    text-transform: var(--textTransform);
    padding: var(--padding, .5em 0);
    transition: 0.3s ease all;
}

.rishi-mobile-menu ul .menu-item-has-children > ul li a {
    font-size: var(--mobile_menu_child_size);
}

.rishi-mobile-menu.menu-default ul li a:hover .submenu-toggle:before {
    opacity: 1;
}

.rishi-mobile-menu.menu-default ul .menu-item-has-children > ul, .rishi-mobile-menu.menu-default ul .page_item_has_children > ul {
    padding-left: 30px;
}

.rishi-mobile-menu.menu-default ul .menu-item-has-children > ul li a:before, .rishi-mobile-menu.menu-default ul .page_item_has_children > ul li a:before {
    position: absolute;
    content: "";
    left: -20px;
    width: 10px;
    height: 1px;
    background: currentColor;
}

.link-highlight-style2 .entry-content p > a {
    color: var(--linkHighlightColor);
    line-height: var(--lineHeight);
    text-decoration: none;
    min-height: auto;
    min-width: auto;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    z-index: 1;
}

.link-highlight-style2 .entry-content p > a:after {
    content: "";
    background: var(--linkHighlightBackgroundColor);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    transition: all ease 0.35s;
    z-index: -1;
}

.link-highlight-style2 .entry-content p > a:hover {
    color: var(--linkHighlightHoverColor);
}

.link-highlight-style2 .entry-content p > a:hover:after {
    height: 100%;
    background: var(--linkHighlightBackgroundHoverColor);
}

.link-highlight-style2 .entry-content .wp-block-button__link {
    color: var(--btnTextColor);
    background-color: var(--btnBgColor);
    border: 1px solid var(--btnBorderColor);
    padding: var(--buttonPadding, 5px 20px);
    text-decoration: var(--btnTextDecoration);
}

.link-highlight-style2 .entry-content .wp-block-button__link:hover {
    color: var(--btnTextHoverColor);
    background-color: var(--btnBgHoverColor);
    border-color: var(--btnBorderHoverColor);
}

.link-highlight-style2 .entry-content .wp-block-button__link:after {
    display: none;
}

.link-highlight-style1 .entry-content p > a {
    color: var(--linkHighlightColor);
    line-height: var(--lineHeight);
    position: relative;
    text-decoration: underline;
}

.link-highlight-style1 .entry-content p > a:hover {
    color: var(--linkHighlightHoverColor);
}

.rishi-color-type-official .rishi-facebook {
    --official-color: #557dbc;
}

.rishi-color-type-official .rishi-twitter {
    --official-color: #7acdee;
}

.rishi-color-type-official .rishi-instagram {
    --official-color: #292929;
}

.rishi-color-type-official .rishi-pinterest {
    --official-color: #ea575a;
}

.rishi-color-type-official .rishi-dribbble {
    --official-color: #d77ea6;
}

.rishi-color-type-official .rishi-behance {
    --official-color: #1b64f6;
}

.rishi-color-type-official .rishi-linkedin {
    --official-color: #1c86c6;
}

.rishi-color-type-official .rishi-wordpress {
    --official-color: #1074a8;
}

.rishi-color-type-official .rishi-parler {
    --official-color: #bc2131;
}

.rishi-color-type-official .rishi-medium {
    --official-color: #292929;
}

.rishi-color-type-official .rishi-slack {
    --official-color: #4e1850;
}

.rishi-color-type-official .rishi-facebook_group {
    --official-color: #3d87fb;
}

.rishi-color-type-official .rishi-discord {
    --official-color: #7187d4;
}

.rishi-color-type-official .rishi-tripadvisor {
    --official-color: #40dfa3;
}

.rishi-color-type-official .rishi-foursquare {
    --official-color: #f84a7a;
}

.rishi-color-type-official .rishi-yelp {
    --official-color: #ca252a;
}

.rishi-color-type-official .rishi-unsplash {
    --official-color: #000000;
}

.rishi-color-type-official .rishi-five-hundred-px {
    --official-color: #000000;
}

.rishi-color-type-official .rishi-codepen {
    --official-color: #000000;
}

.rishi-color-type-official .rishi-reddit {
    --official-color: #fc471e;
}

.rishi-color-type-official .rishi-twitch {
    --official-color: #9150fb;
}

.rishi-color-type-official .rishi-tiktok {
    --official-color: #000000;
}

.rishi-color-type-official .rishi-snapchat {
    --official-color: #f9d821;
}

.rishi-color-type-official .rishi-spotify {
    --official-color: #2ab859;
}

.rishi-color-type-official .rishi-soundcloud {
    --official-color: #fd561f;
}

.rishi-color-type-official .rishi-apple_podcast {
    --official-color: #933ac3;
}

.rishi-color-type-official .rishi-patreon {
    --official-color: #e65c4b;
}

.rishi-color-type-official .rishi-alignable {
    --official-color: #4a396f;
}

.rishi-color-type-official .rishi-vk {
    --official-color: #5382b6;
}

.rishi-color-type-official .rishi-youtube {
    --official-color: #e96651;
}

.rishi-color-type-official .rishi-dtube {
    --official-color: #233253;
}

.rishi-color-type-official .rishi-vimeo {
    --official-color: #8ecfde;
}

.rishi-color-type-official .rishi-rss {
    --official-color: #f09124;
}

.rishi-color-type-official .rishi-whatsapp {
    --official-color: #5bba67;
}

.rishi-color-type-official .rishi-viber {
    --official-color: #7f509e;
}

.rishi-color-type-official .rishi-telegram {
    --official-color: #229cce;
}

.rishi-color-type-official .rishi-xing {
    --official-color: #0a5c5d;
}

.rishi-color-type-official .rishi-weibo {
    --official-color: #e41c34;
}

.rishi-color-type-official .rishi-tumblr {
    --official-color: #314255;
}

.rishi-color-type-official .rishi-qq {
    --official-color: #487fc8;
}

.rishi-color-type-official .rishi-wechat {
    --official-color: #2dc121;
}

.rishi-color-type-official .rishi-strava {
    --official-color: #2dc121;
}

.rishi-color-type-official .rishi-flickr {
    --official-color: #0f64d1;
}

.rishi-color-type-official .rishi-phone {
    --official-color: #244371;
}

.rishi-color-type-official .rishi-email {
    --official-color: #392c44;
}

.rishi-color-type-official .rishi-github {
    --official-color: #24292e;
}

.rishi-color-type-official .rishi-gitlab {
    --official-color: #f8713f;
}

.rishi-color-type-official .rishi-skype {
    --official-color: #1caae7;
}

.rishi-color-type-official .rishi-getpocket {
    --official-color: #ef4056;
}

.rishi-color-type-official .rishi-evernote {
    --official-color: #5ba525;
}

.rishi-color-type-official .rishi-hacker_news {
    --official-color: #ff6600;
}

.rishi-color-type-official .rishi-threema {
    --official-color: #323232;
}

.rishi-color-type-official .rishi-ok {
    --official-color: #F96800;
}

.rishi-color-type-official .rishi-xing {
    --official-color: #006064;
}

.rishi-color-type-official .rishi-flipboard {
    --official-color: #CC0000;
}

.rishi-color-type-official .rishi-line {
    --official-color: #00C300;
}

.rishi-color-type-official .rishi-label {
    color: var(--official-color);
}

.recommended-articles {
    display: block;
    padding-top: 40px;
}

.recommended-articles .blog-single-wid-title {
    font-size: 1.4444em;
    margin-bottom: 25px;
}

.recommended-articles .post-content .posted-on {
    font-size: 0.833em;
}

.recommended-articles .post-content .entry-meta-pri {
    font-size: 0.833em;
}

.recommended-articles .recomm-artcles-wrap {
    display: grid;
    gap: 30px;
}

@media (min-width: 767px) {
    .recommended-articles.related-posts-per-row-2 .recomm-artcles-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .recommended-articles.related-posts-per-row-3 .recomm-artcles-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .recommended-articles.related-posts-per-row-4 .recomm-artcles-wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-content {
    background: none;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .entry-header {
    margin-bottom: 0;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .entry-title {
    font-size: 1.11em;
    line-height: 1.5;
    margin: 15px 0;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-meta-wrapper {
    padding: 0;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-meta-wrapper .post-meta-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.83333em;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-meta-wrapper .post-meta-inner .meta-common.author {
    display: inline-flex;
    align-items: center;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-meta-wrapper .post-meta-inner .meta-common.author .avatar {
    border-radius: 50%;
    margin-right: 5px;
}

.recommended-articles .recomm-artcles-wrap .recomm-article-singl .post-meta-wrapper .post-meta-inner .meta-common.author .author {
    margin-left: 5px;
}

.recommended-articles .post-meta-inner .cat-links[data-cat-style="normal"] a {
    color: var(--relatedPostCategoryDividerInitialColor);
}

.recommended-articles .post-meta-inner .cat-links[data-cat-style="normal"] a:hover {
    color: var(--relatedPostCategoryDividerHoverColor);
}

.recommended-articles .post-meta-inner .cat-links[data-cat-style=filled] a {
    background: var(--relatedPostCategoryDividerInitialColor);
}

.recommended-articles .post-meta-inner .cat-links[data-cat-style=filled] a:hover {
    background: var(--relatedPostCategoryDividerHoverColor);
}

.to_top {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: var(--topButtonOffset, 25px);
    z-index: 99;
}

.to_top.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.to_top {
    border: var(--top-button-border);
    box-shadow: var(--topButtonShadow);
    font-size: var(--topButtonSize);
    color: var(--topButtonIconColorDefault);
    padding: var(--top_button_padding);
    transition: all ease 0.3s;
}

.to_top:hover {
    color: var(--topButtonIconColorHover);
    border: var(--top-button-border_hover);
}

.to_top:hover svg {
    stroke: var(--topButtonIconColorHover);
}

.to_top svg {
    fill: none;
    height: 1em;
    stroke: var(--topButtonIconColorDefault);
    width: 1em;
}

.to_top.top-align-right {
    right: var(--sideButtonOffset, 25px);
}

.to_top.top-align-left {
    left: var(--sideButtonOffset, 25px);
}

.to_top.top-shape-circle {
    border-radius: 100%;
}

.to_top.top-scroll-filled {
    background: var(--topButtonShapeBackgroundDefault);
}

.to_top.top-scroll-filled:hover {
    background: var(--topButtonShapeBackgroundHover);
}

.to_top.top-scroll-outline {
    background: transparent;
}

.to_top.top-type-4 svg {
    fill: currentColor;
    stroke: none;
}

.author-top-wrap .img-holder img {
    border-radius: 50%;
    object-fit: cover;
    min-height: unset;
    min-width: unset;
    vertical-align: top;
}

.author-top-wrap .author-name {
    font-size: calc(var(--fontSize) / 1.5);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing, 0.05px);
    margin: 0;
}

.author-top-wrap .author-description {
    display: block;
    margin-top: 8px;
}

.author-top-wrap .social-networks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 10px;
}

.author-top-wrap .social-networks li {
    display: inline-block;
    font-size: 16px;
    margin-right: 26px;
    vertical-align: middle;
}

.author-top-wrap .social-networks li a {
    transition: all ease 0.3s;
}

.author-top-wrap .social-networks li svg {
    height: 16px;
}

.post-author-wrap {
    background: var(--paletteColor7);
}

@media (max-width: 768px) {
    .post-author-wrap .img-holder {
        text-align: center;
    }
}

.post-author-wrap .img-holder img {
    width: 130px;
    height: 130px;
}

@media (max-width: 768px) {
    .post-author-wrap .img-holder img {
        width: 100px;
        height: 100px;
    }
}

.post-author-wrap .author-content-wrapper {
    display: block;
}

.post-author-wrap .author-content-wrapper .author-meta {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .post-author-wrap .author-content-wrapper .author-meta {
        text-align: center;
    }
}

.post-author-wrap .author-content-wrapper .rishi_social_box {
    margin: 0;
    justify-content: center;
}

@media (max-width: 768px) {
    .post-author-wrap .author-content-wrapper .rishi_social_box {
        margin: 0 0 5px;
    }
}

.post-author-wrap .author-content-wrapper .rishi_social_box a {
    margin: 0 15px 10px 0;
}

@media (max-width: 768px) {
    .post-author-wrap .author-content-wrapper .rishi_social_box a {
        margin: 0 10px 10px 0;
    }
}

.post-author-wrap .author-footer {
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    .post-author-wrap .author-footer {
        display: block;
    }
}

.post-author-wrap .view-all-auth {
    font-size: 0.88889em;
    font-weight: 400;
    line-height: 1em;
    color: var(--genLinkColor);
    text-decoration: none;
}

@media (max-width: 768px) {
    .post-author-wrap .view-all-auth {
        display: block;
        text-align: center;
    }
}

.post-author-wrap .view-all-auth:after {
    content: "";
    background: var(--genLinkColor);
    height: 12px;
    width: 18px;
    line-height: 1;
    display: inline-block;
    margin-left: 10px;
    font-size: 8px;
    vertical-align: middle;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: transform ease 0.25s;
}

.post-author-wrap .view-all-auth:hover {
    color: var(--genLinkHoverColor) !important;
}

.post-author-wrap .view-all-auth:hover:after {
    background: var(--genLinkHoverColor);
    transform: translateX(6px);
}

.autor-section.layout-one .author-top-wrap {
    display: grid;
    grid-template-columns: 130px 1fr;
    padding: 24px;
}

@media (max-width: 768px) {
    .autor-section.layout-one .author-top-wrap {
        grid-template-columns: 1fr;
        padding: 15px;
    }
}

.autor-section.layout-one .author-content-wrapper {
    padding-left: 24px;
    padding-right: 0;
}

@media (max-width: 768px) {
    .autor-section.layout-one .author-content-wrapper {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }
}